/* ----- 共通 ----- */
body {
  font-family: "ryo-text-plusn", "bookmania", serif;
}

p, .form-notice li {
  line-height: 1.75em;
  letter-spacing: .045em;
}

.caption h3 {
  line-height: 1.5em;
}

section {
  padding: 15px 0px 20px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #ccc;
}

section:first-of-type {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: none;
}

section:last-of-type {
  border-bottom: none;
}

#top-message {
  margin-top: 50px;
}

.navbar {
  border-radius: 0;
  padding-left: 5px;
}

.navbar-default {
  border: none;
  background-color: #111111;
  color: #FFFFFF;
}

.navbar .brand-title {
  color: #F15B40;
}

.navbar .brand-title:hover {
  color: #993929;
}

.top-msg-header {
  text-shadow: 0 0 1px rgba(255, 255, 255, 75);
}

.jumbotron {
  min-height: 500px;

  color: #fff;
  background-color: #CCCCCC;
  background-image: url(../img/iloli_top_sm.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.btn-default {
  color: #FFFFFF;
  background-color: #F15B40;
  border-color: #F15B40;
}

.brand-title {
  font-family: "daniel", cursive;
  font-weight: bold;
}

.top-msg-header {
  font-family: "kazuraki-sp2n", serif;
  margin-bottom: 20px
}

.top-msg-contents {
  padding-top: 20px;
  padding-bottom: 15px;
}

.corp-logo {
  height: 60px;
  width: 60px;
}

.section-title {
  text-align: center;
}

.section-subtitle {
  text-align: center;
  margin-top: 20px;
}

.section-contents {
  margin-top: 30px;
}

.thumbnail {
  padding: 5px;
}

.thumbnail img {
  margin-top: 10px;
}

.contact {
  margin-top: 20px;
}
.footer {
  background-color: #111111;
  color: #FFFFFF;

  padding-top: 10px;
  padding-bottom: 15px;
}
.footer a:link {
  color: #FFFFFF;
}
.footer a:visited {
  color: #FFFFFF;
}
.footer a:hover {
  color: #FFFFFF;
}

.footer-nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-credit {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .jumbotron {
    background-image: url(../img/iloli_top_lg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 0;
  }
}

/* BURUBURU CL */

.corp-logo:hover {
  animation: brbr 0.12s linear infinite;
}

@keyframes brbr {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  12.5% {
    transform: rotate(0.2deg) translate(1px, -1px);
  }
  25% {
    transform: rotate(0.4deg) translate(0px, 1px);
  }
  37.5% {
    transform: rotate(0.2deg) translate(-1px, 0);
  }
  50% {
    transform: rotate(0deg) translate(0, 0);
  }
  62.5% {
    transform: rotate(-0.2deg) translate(1px, 0);
  }
  75% {
    transform: rotate(-0.4deg) translate(0, 1px);
  }
  87.5% {
    transform: rotate(-0.2deg) translate(-1px, -1px);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}