@charset "UTF-8";

/* ===== 共通 ===== */

.terms {
  padding: 50px 0;
  background-color: #ffffff;
}
h2.terms {
  font-size: 20px;
  color: #333333;
  padding: 0 0 50px 0;
}
.terms .inner {
  margin: 0 15px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 2px;
  text-align: justify;
}
h3.terms {
  font-size: 16px;
  margin: 0 0 20px 0;
}
.terms .sp_box {
  margin: 0 0 50px 0;
}
.terms .sp_box:last-child {
  margin: 0 0 25px 0;
}
.terms p {
  line-height: 1.5;
}
.terms ol {
  margin: 20px 0 0 0;
  padding: 0 0 0 20px;
}
.terms ol li {
  line-height: 1.5;
  margin: 0 0 10px 0;
}


/* =========================================== */
/* ========== スマートフォンレイアウト 480px以下 ========== */
/* ========================================== */


/* ============================================= */
/*  ========== タブレットレイアウト 481px to 768px  ========== */
/* ============================================ */

@media only screen and (min-width: 481px) {
.terms h2 {
  font-size: 24px;
}
.terms .inner {
  margin: 0 20px;
  padding: 40px;
}
}

/* ==================================================== */
/*  ========== デスクトップレイアウト 769px to a max of 1232px ========== */
/* =================================================== */

@media only screen and (min-width: 900px) {
.terms .inner {
  width: 800px;
  margin: 0 auto;
}
}